header {
  justify-content: space-between;
  align-items: center;
  top: 0;
}
/*search bar*/
.search-bar {
  border: 1px solid black;
  padding: 8px 8px;
  border-radius: 8px;
  flex-wrap: nowrap;
}

.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}

::placeholder {
  color: black;
}
