/* Classe globale */


body {
  margin: 0px;
  padding: 0px;
  background-color: #080f1f;
  font-family: "Open Sans", serif;
  scroll-behavior: smooth;
  }
.horizontal-alignment {
  display: flex;
  align-items: center;
}

.vertical-alignment {
  display: flex;
  align-items: center;
}

.space-between{
  /* justify-content: space-between; */
  gap: 3vh;
}
/* Lien de navigation */
.navlink {
  text-decoration: none;
}
